.grille {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.square {
  float: left;
  width: 33.33%;
  height: 33.33%;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  border: 1px solid #999;
}

.cell {
  background-color: #fff;
  float: left;
  width: 33.33%;
  height: 33.33%;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #999;
}

.square:nth-child(3n),
.square:nth-child(6n) {
  border-right: 2px solid #333;
}

.square:nth-child(n+7) {
  border-bottom: 2px solid #333;
}

.highlight {
  background-color: #999;
}
